$orange: #ff8806;
$green: #025026;
.container {
  text-align: center;
  width: 100%;
  padding-top: 70px;

  .logo {
    width: 250px;
  }

  h3,
  h4 {
    color: $green;
    font-size: 4em;
    margin-block-start: 0em;
    margin-block-end: 0.2em;
  }

  h4 {
    color: $orange;
    font-size: 3em;
  }
  p {
    font-size: 1.8em;
    font-family: "Times New Roman, Times, serif";
    color: #333;
    font-weight: bold;
  }

  span {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 1.5em;
    color: $orange;
    font-weight: bold;
  }
  .flex-container {
    margin: 150px 0;
    height: 50%;

    .right-side {
      text-align: left;
    }
    .middle-side {
      text-align: left;
    }
    .left-side {
      text-align: center;
    }
  }
  .footer {
    background-color: #025026;
    padding: 20px;

    .contact {
      color: #fff;
      margin-left: 20px;
    }
  }
}

@media (max-width: 1300px) {
  .container {
    margin-top: 40px;
    .flex-container {
      margin: 5px 0;
      .right-side,
      .middle-side {
        text-align: center;
      }
      .right-side {
        margin-top: 20px;
      }
    }
    .footer {
      margin-top: 10px !important;
    }
  }

  @media (max-width: 800px) {
    .container {
      margin-top: 20px;
      h3 {
        font-size: 3em;
      }

      h4 {
        font-size: 2em;
      }
      .right-side,
      .middle-side {
        p,
        span {
          font-size: 1.7em;
        }
      }
      .footer {
        padding: 10px;
        .contact {
          margin-top: 5px;
          font-size: 1.3em;
          display: block;
          .material-icons {
            font-size: 22px;
          }
        }
      }
    }
  }

  @media (max-width: 572px) {
    .container {
      margin-top: 5px;

      h3 {
        font-size: 2em;
      }

      h4 {
        font-size: 1.5em;
      }
      .right-side,
      .middle-side {
        p,
        span {
          font-size: 1.4em;
        }
      }
      .footer {
        padding: 10px;
        span {
          font-size: 1.2em;
        }
        .contact {
          margin-top: 5px;
          font-size: 0.8em;
          display: block;
          .material-icons {
            font-size: 18px;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 300px;
  }
}
