<!-- Quantity should be the same in Sass-->
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>

<div class="container">
  <h3>Welcome to Karnali Home</h3>
  <h4>Opening from 16th February</h4>
  <div
    class="flex-container "
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <div
      class="right-side"
      fxFlex="12%"
      fxFlexAlign="right"
      fxFlex.lt-lg="100%"
      fxFlexAlign.lt-lg="center"
    >
      <p>Hotel Manager:</p>
      <p>Krishna Rai</p>
      <span>9851231820</span>
    </div>

    <div
      class="middle-side"
      fxFlex="12%"
      fxFlexAlign="right"
      fxFlex.lt-lg="100%"
      fxFlexAlign.lt-lg="center"
    >
      <p>Hotel Director:</p>
      <p>Sudhir Shah</p>
      <span>9868282147</span>
    </div>
    <div
      class="left-side"
      fxFlex="12%"
      fxFlex.lt-lg="100%"
      fxFlexAlign.lt-lg="center"
    >
      <img class="logo" src=".././assets/img/imageedit_2_5166475401.png" />
    </div>
  </div>

  <div class="footer">
    <span>Contact Us</span>
    <span class="contact">
      <mat-icon>web</mat-icon> karnalihome2020@gmail.com
      <mat-icon>phone</mat-icon> 01-5907017</span
    >
  </div>
</div>

<router-outlet></router-outlet>
