<!-- Quantity should be the same in Sass-->
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>

<div class="container">
  <h1>Welcome to Karnali Home</h1>

  <h2>Opening soon !!!</h2>
  <p>Contact Us: 9999999</p>
</div>

<router-outlet></router-outlet>
